from django.conf import settings
from django.urls import path, re_path, include
from wagtailmenus.tests import urls as test_urls

urlpatterns = []
if settings.DEBUG:
    import debug_toolbar
    urlpatterns += [
        re_path(r'^__debug__/', include(debug_toolbar.urls)),
    ]
urlpatterns += [
    path(r'', include(test_urls)),
]
